pkgbase = sing-box
	pkgdesc = The universal proxy platform.
	pkgver = 1.2.1
	pkgrel = 1
	url = https://sing-box.sagernet.org/
	arch = x86_64
	license = GPL3
	backup = etc/sing-box/config.json
	source = https://github.com/SagerNet/sing-box/releases/download/v1.2.1/sing-box-1.2.1-linux-amd64v3.tar.gz
	source = https://github.com/SagerNet/sing-box/raw/v1.2.1/release/config/config.json
	source = sing-box.service
	source = sing-box@.service
	sha256sums = 89cd9cfca7d9ed47648af313767b1f2e603fa9b540c614c318f4658c5bab3de3
	sha256sums = 59aac6f3459d3a48c496ab3055d9a9c261179dd8ad73b54a4dccb9ebf3ae9a5b
	sha256sums = 242e499ffb783111ff49e290a8ccbd34ff20786a0c90915625458b74e35a79c5
	sha256sums = 72265c3a80f52c3fe3247da2fe73bffb5b117d7b50ab801f63874dc6eb86161b

pkgname = sing-box
