pkgbase = sing-box
	pkgdesc = The universal proxy platform.
	pkgver = 1.4.4
	pkgrel = 1
	url = https://sing-box.sagernet.org/
	arch = x86_64
	license = GPL3
	backup = etc/sing-box/config.json
	source = https://github.com/SagerNet/sing-box/releases/download/v1.4.4/sing-box-1.4.4-linux-amd64v3.tar.gz
	source = https://github.com/SagerNet/sing-box/raw/v1.4.4/release/config/config.json
	source = sing-box.service
	source = sing-box@.service
	sha256sums = 23429cc0685b916784a4dff6fe5afbbe3ded269c86693345410d008fedc3bf55
	sha256sums = 59aac6f3459d3a48c496ab3055d9a9c261179dd8ad73b54a4dccb9ebf3ae9a5b
	sha256sums = 242e499ffb783111ff49e290a8ccbd34ff20786a0c90915625458b74e35a79c5
	sha256sums = 72265c3a80f52c3fe3247da2fe73bffb5b117d7b50ab801f63874dc6eb86161b

pkgname = sing-box
